In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as pt
import os
import sys

In [2]:
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
from scripts.utils import dataLoader
from scripts.queries import userInfoAgregation

In [4]:
dloader = dataLoader()

In [5]:
# Define your SQL query
query = "SELECT * FROM xdr_data;"

In [6]:
# Load data from PostgreSQL using SQLAlchemy
df = dataLoader.load_data_using_sqlalchemy(query)

# Display the first few rows of the dataframe
if df is not None:
    print("Successfully loaded the data")
else:
    print("Failed to load data.")

query executed successfully!
Successfully loaded the data

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [8]:
query2 = """
        SELECT
            "IMSI" AS user_id,
            COUNT(*) AS num_xdr_sessions,
            SUM("Dur. (ms)") AS total_session_duration_ms,
            SUM("Total DL (Bytes)") AS total_download_data_bytes,
            SUM("Total UL (Bytes)") AS total_upload_data_bytes,
            SUM("Social Media DL (Bytes)" + "Social Media UL (Bytes)") AS total_social_media_data_bytes,
            SUM("Youtube DL (Bytes)" + "Youtube UL (Bytes)") AS total_youtube_data_bytes,
            SUM("Google DL (Bytes)" + "Google UL (Bytes)") AS total_google_data_bytes,
            SUM("Gaming DL (Bytes)" + "Gaming UL (Bytes)") AS total_gaming_data_bytes,
            SUM("Other DL (Bytes)" + "Other UL (Bytes)") AS total_other_data_bytes
        FROM
            xdr_data
        GROUP BY
            "IMSI"
        ORDER BY
            user_id;
        """

In [9]:
user_info = userInfoAgregation(query2)

In [10]:
agregate_df = user_info.agregation_by_user_info()

An error occurred: (psycopg2.errors.UndefinedColumn) column "Other DL" does not exist
LINE 12:             SUM("Other DL" + "Other UL") AS total_other_data...
                         ^

[SQL:
        SELECT
            "IMSI" AS user_id,
            COUNT(*) AS num_xdr_sessions,
            SUM("Dur. (ms)") AS total_session_duration_ms,
            SUM("Total DL (Bytes)") AS total_download_data_bytes,
            SUM("Total UL (Bytes)") AS total_upload_data_bytes,
            SUM("Social Media DL (Bytes)" + "Social Media UL (Bytes)") AS total_social_media_data_bytes,
            SUM("Youtube DL (Bytes)" + "Youtube UL (Bytes)") AS total_youtube_data_bytes,
            SUM("Google DL (Bytes)" + "Google UL (Bytes)") AS total_google_data_bytes,
            SUM("Gaming DL (Bytes)" + "Gaming UL (Bytes)") AS total_gaming_data_bytes,
            SUM("Other DL" + "Other UL") AS total_other_data_bytes
        FROM
            xdr_data
        GROUP BY
            "IMSI"
        ORDER BY
            user_id;
        ]
(Background on this error at: https://sqlalche.me/e/20/f405)